@model IEnumerable<Post>
@inject AppTenant Tenant
@foreach (var item in Model)
{
    <div class="media">
        <div class="media-left"><a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/@item.Slug" class="link">
    @if (string.IsNullOrEmpty(item.SmallPhoto))
    {<img src="@Html.Raw(item.Photo)" alt="" class="media-image" />}
    else {<img src="@Html.Raw(item.SmallPhoto)" alt="" class="media-image" /> }
</a>
        </div>
        <div class="media-right">
            @if (item.PublishDate.HasValue)
                {<div class="info">
                
                    <div class="date-created item"><a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/@item.Slug"><span>@(item.PublishDate.HasValue ? item.PublishDate.Value.ToString("dd.MM.yyyy") : "")</span></a></div>
                
            </div>}
            <a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/@item.Slug" class="link title">@(item.Title)</a>
        </div>
    </div>
}