@model IEnumerable<CmsCoreV2.Models.TaxRate>

@{
    ViewData["Title"] = "Index";
}
<link href="/metronic/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" /><br />

<h2>Vergi Oranları</h2>

<p>
    <a class="btn btn-primary"  asp-action="Create">Yeni Oran Ekle</a>
</p>
 <table id="tblRecords" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CountryCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CityPlateCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
                <th class="none">
                    @Html.DisplayNameFor(model => model.District)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TaxName)
                </th>
                <th class="none">
                    @Html.DisplayNameFor(model => model.TaxRatePriority)
                </th>
                <th class="none">
                    @Html.DisplayNameFor(model => model.TaxRateCompound)
                </th>
                <th class="none">
                    @Html.DisplayNameFor(model => model.TaxRateShipping)
                </th>
                
                <th class="none">
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th class="none">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th class="none">
                    @Html.DisplayNameFor(model => model.UpdateDate)
                </th>
                <th class="none">
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </th>
                <th class="none">
                    @Html.DisplayNameFor(model => model.AppTenantId)
                </th>
               
                <th data-orderable="false" class="all">Eylemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityPlateCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.District.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaxName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaxRatePriority)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaxRateCompound)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaxRateShipping)
                    </td>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppTenantId)
                    </td>
                   
                    <td>
                        <a  asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Detay</a>
                        <a  asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
