@model IEnumerable<MenuItem>
@inject CustomLocalizer Localizer
@inject AppTenant Tenant

<nav>
    <ul>
@foreach (var item in Model.OrderBy(o => o.Position).ThenBy(o => o.Id).ToList())
{
        <li @(item.ChildMenuItems != null && item.ChildMenuItems.Count() > 0 ? "class=dropdown" : "")>
            <a href="#" @(!String.IsNullOrEmpty(item.Target) ? "target='" + item.Target + "'" : "")>
            
            @Localizer[item.Name]
            
            
            </a>
@if (item.ChildMenuItems != null && item.ChildMenuItems.Count() > 0)
{
            <ul class="dropdown-menu">
                @foreach (var childItem in item.ChildMenuItems.OrderBy(o => o.Position).ThenBy(o => o.Id).ToList())
                    {
                        if (childItem.MenuId == 1)
                        {
                        <li><a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/@childItem.Url" class="link-page" @(!String.IsNullOrEmpty(item.Target) ? "target='" + childItem.Target + "'" : "")>@Localizer[childItem.Name]</a></li>
                    }
                    else if (childItem.MenuId == 2)
                    {
                        <li><a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/@childItem.Url" class="link-page" @(!String.IsNullOrEmpty(item.Target) ? "target='" + childItem.Target + "'" : "")>@Localizer[childItem.Name]</a></li>
                    }


                }





               @*<li class="dropdown-submenu">
                    <a href="#"><i class="fa fa-heart"></i>Headers</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#">Semi Transparent</a>
                            <ul class="dropdown-menu">
                                <li><a href="header-light-transparent.html">Light</a></li>
                                <li><a href="header-dark-transparent.html">Dark</a></li>
                                <li><a href="header-colored-transparent.html">Colored</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>*@
                
            </ul>
}
        </li>
}
    </ul>
</nav>