@model CmsCoreV2.Models.PaymentMethod

@{
    ViewData["Title"] = "Detaylar";
}

<h2>Detaylar</h2>

<div>
    <h4>Ödeme Yöntemi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApiUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApiUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApiUserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApiUserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApiPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApiPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppTenantId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppTenantId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
