@inject CustomLocalizer Localizer
@inject AppTenant Tenant
@{
    ViewData["Title"] = "";
}

@await Component.InvokeAsync("Slider", new { Name = "Anasayfa Slider"})

<!-- CHOOSE COURSES-->
<div class="section section-padding choose-course">
    <div class="container">

        <img src="~/edugate/images/bilgiye-sevgi-katiyoruz.png" alt="bilgiye-sevgi-katiyoruz" id="floatingImage" />
        <div class="choose-course-wrapper row">

            <div class="col-md-2">
                <div class="item-course item-1">
                    <div class="icon-circle">
                        <div class="icon-background"></div>
                        <div class="info">
                            <div class="info-back">
                                <a href="/anaokulu">
                                    <img src="~/edugate/images/anaokulu-kiz.png" alt="anaokulu" border="0" style="width: 93%;margin-left: 4.5px;margin-bottom: 2px;" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="name-course"><a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/anaokulu">@Localizer["Anaokulu"]</a></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-course item-2">
                    <div class="icon-circle">
                        <div class="icon-background"></div>
                        <div class="info">
                            <div class="info-back"><a href="/ilkokul"><img src="~/edugate/images/ilkokul-kiz.png" alt="ilkokul" border="0" style="width:100%" /></a></div>
                        </div>

                    </div>
                    <div class="name-course"><a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname//@ViewData["culture"]/ilkokul">@Localizer["İlkokul"]</a></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-course item-3">
                    <div class="icon-circle">
                        <div class="icon-background"></div>
                        <div class="info">
                            <div class="info-back"><a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/ortaokul"><img src="~/edugate/images/ortaokul-kiz.png" alt="ortaokul" border="0" style="width:100%" /></a></div>
                        </div>
                    </div>
                    <div class="name-course"><a href="/ortaokul">@Localizer["Ortaokul"]</a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item-course item-4">
                    <div class="icon-circle">
                        <div class="icon-background"></div>
                        <div class="info">
                            <div class="info-back"><a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/lise"><img src="~/edugate/images/lise-kiz.png" alt="lise" border="0" style="width:100%" /></a></div>
                        </div>
                    </div><
                    <div class="name-course"><a href="/lise">@Localizer["Lise"]</a></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- KADROMUZ -->
@await Component.InvokeAsync("ListPosts", new { categoryNames = "Kadromuz", count = 100 })
<!-- LATEST POSTS -->
@await Component.InvokeAsync("LatestPosts", new { categoryNames = @Localizer["Haberler"].ToString(), count = 4 })
<!-- WHY CHOOSE US-->


@await Component.InvokeAsync("Slider", new { Name = @Localizer["Anasayfa İkinci Slider"].ToString() })


<!-- PICTURE AND GALLERY-->
@await Component.InvokeAsync("Gallery", new { Name = @Localizer["Anasayfa Galeri"].ToString() })
<!-- SLIDER LOGO-->
@await Component.InvokeAsync("Slider", new { Name = @Localizer["Logo Slider"].ToString() })
