@model CmsCoreV2.Models.Coupon

@{
    ViewData["Title"] = "Kupon Detayları";
}

<h2>Kupon Detayları</h2>

<div>
    <h4>Kupon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LimitPerCoupon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LimitPerCoupon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LimitUse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LimitUse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LimitPerUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LimitPerUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscountType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CouponCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CouponCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CouponAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CouponAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllowFreeShipping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllowFreeShipping)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinimumSpending)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinimumSpending)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaximumSpending)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaximumSpending)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OnlyIndividualUse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OnlyIndividualUse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExcludeDiscountProduct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExcludeDiscountProduct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RestrictedEmails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RestrictedEmails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> |
    <a asp-action="Index">Listeye geri dön!</a>
</div>
