@model CmsCoreV2.Models.Product

@{
    ViewData["Title"] = "Ürün Düzenle";
}
<link href="/metronic/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css">
<script src="~/js/generate-slug.js"></script>
<script src="//cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script>
<h2>Ürün Düzenle</h2>

<hr />

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" asp-for="Name" class="form-control" tabindex="1" autofocus="autofocus" onblur="if ($('#Slug').val() == '') {$('#Slug').val(slug($('#Name').val().toLowerCase(),'-'));}" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Slug" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" asp-for="Slug" class="form-control" tabindex="2" autofocus="autofocus" onblur="if ($('#Slug').val() == '') {$('#Slug').val(slug($('#Name').val().toLowerCase(),'-'));}" />
                <span class="text-danger" asp-validation-for="Slug"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="ShortDescription" class="form-control" rows="8"></textarea>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
                <script type="text/javascript">
                    CKEDITOR.replace('Description');
                </script>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AdditionalInfo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="AdditionalInfo" class="form-control" rows="8"></textarea>
                <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
                <script type="text/javascript">
                    CKEDITOR.replace('AdditionalInfo');
                </script>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LanguageId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.LanguageId"></select>
                <span asp-validation-for="LanguageId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UnitPrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SalePrice" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SalePrice" class="form-control" />
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TaxStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TaxStatus" class="form-control"></select>
                <span asp-validation-for="TaxStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TaxClass" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TaxClass" class="form-control"></select>
                <span asp-validation-for="TaxClass" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StockCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StockCode" class="form-control" />
                <span asp-validation-for="StockCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StockCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StockCount" class="form-control" />
                <span asp-validation-for="StockCount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="StockStatus" />
                    <label asp-for="StockStatus"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Weight" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Length" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Height" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Width" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProductType" class="form-control"></select>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProductUrl" class="form-control" />
                <span asp-validation-for="ProductUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpSellId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="UpSellId" class="form-control" asp-items="ViewBag.UpSellId"></select>
                <span asp-validation-for="UpSellId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CrossSellId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="CrossSellId" class="form-control" asp-items="ViewBag.CrossSellId"></select>
                <span asp-validation-for="CrossSellId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GroupedProductId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="GroupedProductId" class="form-control" asp-items="ViewBag.GroupedProductId"></select>
                <span asp-validation-for="GroupedProductId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PurchaseNote" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PurchaseNote" class="form-control" />
                <span asp-validation-for="PurchaseNote" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MenuOrder" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MenuOrder" class="form-control" />
                <span asp-validation-for="MenuOrder" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductImage" class="col-md-2 control-label">@Html.DisplayNameFor(model => model.ProductImage)</label>
            <div class="col-md-9">
                <div class="input-group">
                    <input asp-for="ProductImage" class="form-control" />
                    <span class="input-group-btn">
                        <a class="btn btn-info" id="uploadModal" type="button" onclick="browseMedia('ProductImage')">...</a>
                    </span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.ProductImage, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label asp-for="AlternateProductImage" class="col-md-2 control-label">@Html.DisplayNameFor(model => model.AlternateProductImage)</label>
            <div class="col-md-9">
                <div class="input-group">
                    <input asp-for="AlternateProductImage" class="form-control" />
                    <span class="input-group-btn">
                        <a class="btn btn-info" id="uploadModal" type="button" onclick="browseMedia('AlternateProductImage')">...</a>
                    </span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.AlternateProductImage, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label asp-for="ShortDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ViewCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ViewCount" class="form-control" />
                <span asp-validation-for="ViewCount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SaleCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SaleCount" class="form-control" />
                <span asp-validation-for="SaleCount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CatalogVisibility" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CatalogVisibility" class="form-control"></select>
                <span asp-validation-for="CatalogVisibility" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsFeatured" />
                    <label asp-for="IsFeatured"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsNew" />
                    <label asp-for="IsNew"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsPublished" />
                    <label asp-for="IsPublished"></label>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CreateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input readonly asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input readonly asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input readonly asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input readonly asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@Html.Partial("_BrowseMedia", new ViewDataDictionary(this.ViewData) { { "element", "ProductImage" } })
@Html.Partial("_BrowseMedia", new ViewDataDictionary(this.ViewData) { { "element", "AlternateProductImage" } })