@inject CustomLocalizer Localizer
@model CmsCoreV2.Models.Slider
@if (Model != null && Model.Id > 0)
{
    <div id="homeSlider" style="clear:both;">
        <!-- ~/videos/3383465.mov -->
        <div class="section slider-banner set-height-top">
            @{ int index = 0;}
            @foreach (var slide in Model.Slides.Where(w => w.IsPublished == true).ToList())
            {
                index++;
                <div class="slider-item">

                    <div class="slider-@index">
                        @if (!String.IsNullOrEmpty(slide.Video))
                        {
                            <div class="slider-caption" style="width: 100%;position: relative;overflow: hidden;background-repeat:no-repeat;">
                                
                                <div style="position: relative;
    z-index: 1;"></div>
                                </div>
                                }
                                else
                                {

                                <div class="slider-caption" @(slide.DisplayTexts ? $"style=background: url({slide.Photo}) no-repeat whitesmoke; background-size:cover;" : "style=width:100%;")>
                                    @if (slide.DisplayTexts)
                                    {
                                        <div class="container">
                                            <h5 class="text-info-2">@slide.Title</h5>

                                            <h1 class="text-info-1">@slide.SubTitle</h1>

                                            <p class="text-info-3">@Html.Raw(slide.Description)</p>
                                            <a class="btn btn-green" href="@slide.CallToActionUrl"><span>@slide.CallToActionText</span></a>
                                        </div>
                                    }
                                    else
                                    {
                                        <a href="@slide.CallToActionUrl"><img src="@slide.Photo" style="width:100%;border:0px;" /></a>
                                    }
                                </div>
                                }
                            </div>
                </div>

            }
        </div>
    </div>
                }