@model IEnumerable<CmsCoreV2.Models.Region>

@{
    ViewData["Title"] = "Index";
}
<link href="/metronic/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/metronic/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" /><br />
<h2>Bölgeler</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Yeni Bölge Ekle</a>
</p>
<table id="tblRecords" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentRegion)
            </th>
            <th class="none">
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th class="none">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th class="none">
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th class="none">
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th class="none">
                @Html.DisplayNameFor(model => model.AppTenantId)
            </th>
           
            <th data-orderable="false" class="all">Eylemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentRegion.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppTenantId)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
