@inject AppTenant Tenant;
@inject CustomLocalizer Localizer
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>@ViewData["Title"] - @Tenant.Title</title>
    <meta name="description" content="@ViewData["Description"]">
    @if (ViewData["Keywords"] != null && ViewData["Keywords"].ToString() != "")
    {
        <meta name="keywords" content="@ViewData["Keywords"]">
    }
    @if (ViewData["Title"] == "404 - Sayfa bulunamadı")
    {
        <meta name="robots" content="noindex">
    };
    <!-- Stylesheets & Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600|Montserrat:400,500,600,700|Raleway:100,300,600,700,800" rel="stylesheet" type="text/css" />
    <link href="/polocorporate5/css/plugins.css" rel="stylesheet">
    <link href="/polocorporate5/css/style.css" rel="stylesheet">
    <link href="/polocorporate5/css/responsive.css" rel="stylesheet">
    <link href="/polocorporate5/css/custom.css" rel="stylesheet">
    <!-- Template color -->
    <link href="/polocorporate5/css/color-variations/green.css" rel="stylesheet" type="text/css" media="screen">
    <link rel="icon" type="image/png" href="/polocorporate5/images/favicon.png" alt="favicon" />
    @Html.Raw(ViewBag.HeaderScript)
    @Html.Raw(ViewBag.GoogleAnalytics)
</head>

<body>


    <!-- Wrapper -->
    <div id="wrapper">

        <!-- TOPBAR -->
        <div id="topbar" class="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="top-menu">
                            <li><a href="tel:02163462606">Telefon: 0216-346-26-06</a></li>
                            <li><a href="mailto:belge@birinsan.com.tr">E-posta: belge@birinsan.com.tr</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        <div class="social-icons social-icons-colored-hover">
                            <ul>
                                
                                <li class="social-facebook"><a href="https://www.facebook.com/Bir-%C4%B0nsan-Belgelendirme-278542332631265/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-twitter"><a href="https://twitter.com/birinsanbelge" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-google"><a href="https://plus.google.com/u/3/103049096763076187517" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li class="social-pinterest"><a href="https://tr.pinterest.com/birnsanbelgelendirme/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                <li class="social-linkedin"><a href="https://www.linkedin.com/company/25038178/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li class="icon-social-tumblr"><a href="https://www.tumblr.com/blog/birinsanbelgelendirmeposts" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                <li class="social-youtube"><a href="https://www.youtube.com/channel/UC8Nlec50Gsuv_PPt0OSpTrA" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                                <li class="social-instagram"><a href="https://www.instagram.com/birinsanbelgelendirme/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: TOPBAR -->
        <!-- Header -->
        <header id="header">
            <div id="header-wrap">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/" class="logo">
                            <img src="/polocorporate5/images/logo.png" alt="Bir İnsan Gelişim Akademisi Belgelendirme">
                        </a>
                    </div>
                    <!--End: Logo-->
                    <!--Top Search Form-->
                    <div id="top-search">
                        <form action="@(Tenant.RequireSSL?" https":"http")://@Tenant.Hostname/@ViewData["culture"]/arama">
                            <input type="text" name="query" class="form-control" value="" placeholder="Arama Yapmak İçin Yazın ve Enter'e Basın">
                        </form>
                    </div>
                    <!--end: Top Search Form-->
                    <!--Header Extras-->
                    <div class="header-extras">
                        <ul>
                            <li>
                                <!--top search-->
                                <a id="top-search-trigger" href="#" class="toggle-item">
                                    <i class="fa fa-search"></i>
                                    <i class="fa fa-close"></i>
                                </a>
                                <!--end: top search-->
                            </li>
                            
                          
                        </ul>
                    </div>
                    <!--end: Header Extras-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <button class="lines-button x"> <span class="lines"></span> </button>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu" class="light">
                        <div class="container">
                            
                        @await Component.InvokeAsync("Menu", new { MenuLocation = "Primary" })
                      
                    
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->

        @RenderBody()



        <!-- Footer -->
        <footer id="footer" class="footer-light">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <!-- Footer widget area 1 -->
                            <div class="widget clearfix widget-contact-us">
                                <img id="footer-logo" src="/polocorporate5/images/logo.png" alt="Bir İnsan Gelişim Akademisi Belgelendirme">
                                
                            </div>
                            <!-- end: Footer widget area 1 -->
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-8">
                                    <!-- Footer widget area 2 -->
                                    <div class="widget">
                                        <ul class="list-icon list-icon-arrow">
                                            <li><a href="@(Tenant.RequireSSL?" https":"http")://@Tenant.Hostname/@ViewData["culture"]/blog">Blog</a></li>
                                            <li><a href="@(Tenant.RequireSSL?" https":"http")://@Tenant.Hostname/@ViewData["culture"]/duyurular">Duyurular</a></li>
                                            <li><a href="@(Tenant.RequireSSL?" https":"http")://@Tenant.Hostname/@ViewData["culture"]/haberler">Haberler</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <!-- end: Footer widget area 2 -->
                            </div>
                        </div>
                        <div class="col-md-2">
                            <!-- Footer widget area 3 -->
                            <div class="widget">
                                <ul class="list-icon list-icon-arrow">
                                    
                                    <li><a href="@(Tenant.RequireSSL?" https":"http")://@Tenant.Hostname/@ViewData["culture"]/galeri">Fotoğraf Galerisi</a></li>
                                    <li><a href="@(Tenant.RequireSSL?" https":"http")://@Tenant.Hostname/@ViewData["culture"]/gizlilik-politikasi">Gizlilik Politikası</a></li>
                                    <li><a href="@(Tenant.RequireSSL?" https":"http")://@Tenant.Hostname/@ViewData["culture"]/iletisim">Bize Ulaşın</a></li>
                                </ul>
                            </div>
                            <!-- end: Footer widget area 3 -->
                        </div>
                        <div class="col-md-2"></div>
                        
                    </div>
                    <div class="social-icons social-icons-border">
                        <ul class="center">
                            <li class="social-facebook"><a href="https://www.facebook.com/Bir-%C4%B0nsan-Belgelendirme-278542332631265/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="https://twitter.com/birinsanbelge" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-google"><a href="https://plus.google.com/u/3/103049096763076187517" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-pinterest"><a href="https://tr.pinterest.com/birnsanbelgelendirme/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            <li class="social-linkedin"><a href="https://www.linkedin.com/company/25038178/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li class="icon-social-tumblr"><a href="https://www.tumblr.com/blog/birinsanbelgelendirmeposts" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                            <li class="social-youtube"><a href="https://www.youtube.com/channel/UC8Nlec50Gsuv_PPt0OSpTrA" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                            <li class="social-instagram"><a href="https://www.instagram.com/birinsanbelgelendirme/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
           
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">
                       Bir İnsan Kariyer Gelişim & Belgelendirme A.Ş 2017 Tüm Hakkı Saklıdır.
                    </div>
                </div>
            </div>
           

        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Wrapper -->
    <!-- Go to top button -->
    <a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>
    <!--Plugins-->
    <script src="/polocorporate5/js/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    
    <script src="/polocorporate5/js/plugins.js"></script>
    <!--Fix Form -->
    <script src="~/polocorporate5/js/Global.js"></script>

    <!--Template functions-->
    <script src="/polocorporate5/js/functions.js"></script>

    <!-- Temp Scripts-->
  
    <!-- LOADING SCRIPTS FOR PAGE-->
   
    <script src="~/lib/jquery.maskedinput/dist/jquery.maskedinput.js"></script>
    <script>
        $(document).ready(function () {
            $('.carousel-logos').owlCarousel({
                margin: 115,
                loop: true,
                //lazyLoad: true,
                nav: false,
                autoplay: true,
                autoplayTimeout: 5000,
                smartSpeed: 1500,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 2,
                        margin: 30,
                    },
                    320: {
                        items: 3,
                        margin: 40,
                    },
                    480: {
                        items: 3,
                        margin: 50,
                    },
                    600: {
                        items: 4,
                        margin: 90,
                    },
                    768: {
                        items: 5,
                        margin: 60,
                    },
                    1024: {
                        items: 5,
                        margin: 90,
                    },
                    1025: {
                        items: 6
                    }
                }
            });
        });
        function rssSetDuration() {
            rssDuration = $(".marqueeCrawl a").length * 8 + "s";
            $(".marqueeCrawl").css("animationDuration", rssDuration);
            $(".marqueeCrawl").show(); // IE recalculate fix
        }

        $(window).on("load", function () {
            rssSetDuration();
        });
    </script>
    @if (HttpContextAccessor.HttpContext.Items["scripts"] != null)
    {
        @Html.Raw(HttpContextAccessor.HttpContext.Items["scripts"])
    }
    @RenderSection("scripts", required: false)
    @Html.Raw(ViewBag.FooterScript)
</body>

</html>
