@model IEnumerable<Post>
@inject CustomLocalizer Localizer

@inject AppTenant Tenant
<div class="section section-padding positionRelative best-staff">
    <div class="container">
        <div class="group-title-index">
            <h4 class="top-title">@Localizer["EN İYİSİNDEN ÖĞRENİN"]</h4>

            <h2 class="center-title">@Localizer["KADROMUZ"]</h2>

            <div class="bottom-title"><i class="bottom-icon icon-icon-05"></i></div>
        </div>
        <div class="best-staff-wrapper">
            <div class="best-staff-content">
                @foreach (var item in Model.ToList().Take(10).OrderBy(p=>p.Position)) { 
                <div class="staff-item">
                    <div class="staff-item-wrapper">
                        <div class="staff-info">
                            <a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/@item.Slug" class="staff-avatar">@if (string.IsNullOrEmpty(item.SmallPhoto))
                            {<img src="@item.Photo" alt="" class="img-responsive" />}
                            else { <img src="@item.SmallPhoto" alt="" class="img-responsive" />}</a><a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/@item.Slug" class="staff-name">@item.Title</a>

                            <div class="staff-job">@item.Meta1</div>
                            <div style="text-align:center" class="staff-desctiption">@Html.Raw(item.Description)</div>
                        </div>
                    </div>
                    <div class="staff-socials"><a href="mailto:@item.Meta2" class="email"><i class="fa fa-envelope-o"></i></a></div>
                </div>
                }
            </div>
        </div>
    </div>
    <div class="group-btn-slider">
        <div class="btn-prev"><i class="fa fa-angle-left"></i></div>
        <div class="btn-next"><i class="fa fa-angle-right"></i></div>
    </div>
</div>