@model CmsCoreV2.Models.Form
@inject CustomLocalizer Localizer

@addTagHelper "CmsCoreV2.Helpers.FormFieldHelper, CmsCoreV2"
<script src='https://www.google.com/recaptcha/api.js'></script>
<form class="bg-w-form contact-form" action="/Home/PostForm" method="post" id="contactForm">
    <div class="row">
        @if (Model != null && Model.Id > 0)
        {
            <fieldset>
                <input type="hidden" value="@Model.Id" name="FormId" />
                @foreach (FormField item in Model.FormFields)
                {
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label form-label">@item.Name@Html.Raw(item.Required ? "<span class='highlight'>*</span>" : "")</label>
                            @if (item.Required)
                            {
                                <formField form-field="item" required="true" css-class="form-input form-job" read_only="false" show-placeholder="true" />
                                @Html.ValidationMessage(item.Name, "", new { @class = "text-danger" })
                            }
                            else
                            {
                                <formField form-field="item" read_only="false" css-class="form-input form-job" show-placeholder="true" />
                            }

                        </div>
                    </div>
                }
            </fieldset>
        }
        else
        {
            <p>@Localizer["Form bulunamadı!"]: @Model.FormName</p>
        }
    </div>
    <script>
        function onContactFormSubmit() {
             document.getElementById("submit_handle").click();
         }
    </script>
    <div class="contact-submit">
        <input type="submit" btn btn-contact btn-green" value=@Localizer["Gönder"]>
    </div>
    
</form>
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }