@model CmsCoreV2.Models.Form
@inject CustomLocalizer Localizer

@addTagHelper "CmsCoreV2.Helpers.FormFieldHelper, CmsCoreV2"
@if (Model != null && Model.Id > 0)
{
    <form id="defaultForm" action="/Home/PostForm" method="post" enctype="multipart/form-data" onsubmit="var result = true; $.each($('#defaultForm input'), function (index, value) { if ($(value).val() == '') { result=false; } });return result;">
        <div style="position:relative;">
            <img src="~/edugate/images/icon-close.png" style="border:0px;position:absolute;right:0px;cursor:pointer;" onclick="$('#floatingForm').slideToggle('slow')" alt="Kapat" />
            <div style="padding: 9px;">
                <fieldset>
                    <legend><img src="~/edugate/images/icon-phone.png" style="border:0px; vertical-align:text-bottom;" /> @Model.FormName.ToUpper()</legend>
                    <input type="hidden" value="@Model.Id" name="FormId" />
                    <input type="hidden" value="@Model.Slug" name="Slug" />
                    @foreach (FormField item in Model.FormFields.OrderBy(f=>f.Position))
                    { <div class="formField">
                        @if (item.Required)
                        {
                            <formField form-field="item" required="true" read_only="false" show-placeholder="true" />
                            @Html.ValidationMessage(item.Name, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            <formField form-field="item" read_only="false" show-placeholder="true" />
                        }


                    </div>
                    }
                    <div style="text-align:right;">
                        <input type="submit" value=@Localizer["Gönder"] class="btn-sm btn-success" id="embedFormSubmit" onclick="$('#defaultForm').submit(function(){$('#embedFormSubmit').attr('disabled', true);})"/>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
}
else
{
    <p>@Localizer["Form bulunamadı!"]</p>
}