@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@model Sakura.AspNetCore.IPagedList<Post>
@inject CustomLocalizer Localizer
@inject AppTenant Tenant

<div id="blog" class="grid-layout post-3-columns m-b-30" data-item="post-item">
    @foreach (var item in Model)
    {


     <!-- Post item-->
        <div class="post-item border">
            <div class="post-item-wrap">
                <div class="post-image">
                    <a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/@item.Slug" class="title">
                        <img alt="" src="@Html.Raw(item.Photo)">
                    </a>
                    <span class="post-meta-category"><a href="">@item.PostPostCategories.FirstOrDefault()?.PostCategory</a></span>
                </div>
                <div class="post-item-description">
                    @if (item.PublishDate != null)
                    {
                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i>@item.PublishDate</span>
                    }
                    else
                    {

                    }
                    <h2>
                        <a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/@item.Slug" class="title">@item.Title</a>
                    </h2>
                    <p>@Html.Raw(item.Description.PadLeft(120))</p>

                    <a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/@item.Slug" class="item-link">Devamını Oku.. <i class="fa fa-arrow-right"></i></a>

                </div>
            </div>
        </div>
        <!-- end: Post item-->
    }
    </div> 
<div class="row">
    <div class="pagination pagination-simple " >
        <ul >
            <pager resource='Post' />
        </ul>
    </div>
</div>


