@model CmsCoreV3.Models.Product

@{
    ViewData["Title"] = "Ürün Düzenle";
}
<link href="/metronic/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css">
<script src="~/js/generate-slug.js"></script>
<script src="//cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script>
<link href="/metronic/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/metronic/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<h2>Ürün Düzenle</h2>

<hr />

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" name="categoriesHidden" id="categoriesHidden" />
        <div class="form-group">
                <div id="tree">
                </div>
            </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" asp-for="Name" class="form-control" tabindex="1" autofocus="autofocus" onblur="if ($('#Slug').val() == '') {$('#Slug').val(slug($('#Name').val().toLowerCase(),'-'));}" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Slug" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="text" asp-for="Slug" class="form-control" tabindex="2" onblur="if ($('#Slug').val() == '') {$('#Slug').val(slug($('#Name').val().toLowerCase(),'-'));}" />
                <span class="text-danger" asp-validation-for="Slug"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="ShortDescription" class="form-control" rows="8"></textarea>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
                <script type="text/javascript">
                    CKEDITOR.replace('Description');
                </script>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AdditionalInfo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="AdditionalInfo" class="form-control" rows="8"></textarea>
                <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
                <script type="text/javascript">
                    CKEDITOR.replace('AdditionalInfo');
                </script>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LanguageId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.LanguageId">
                    <option value="">Seçiniz...</option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="TaxStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TaxStatus" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(TaxStatus))"></select>
                <span asp-validation-for="TaxStatus" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TaxClass" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TaxClass" class="form-control"  asp-items="@Html.GetEnumSelectList(typeof(TaxClass))"></select>
                <span asp-validation-for="TaxClass" class="text-danger"></span>
            </div>
        </div>
        
        
        
        
        <div class="form-group">
            <label asp-for="SupplierId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SupplierId" class="form-control"  asp-items="@ViewBag.Suppliers">
                    <option value="">Seçiniz</option>
                </select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
        </div>
        
        
        
        <div class="form-group">
            <label asp-for="PurchaseNote" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="PurchaseNote" class="form-control"></textarea>
                <span asp-validation-for="PurchaseNote" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MenuOrder" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MenuOrder" class="form-control" />
                <span asp-validation-for="MenuOrder" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductImage" class="col-md-2 control-label">@Html.DisplayNameFor(model => model.ProductImage)</label>
            <div class="col-md-9">
                <div class="input-group">
                    <input asp-for="ProductImage" class="form-control" />
                    <span class="input-group-btn">
                        <a class="btn btn-info" id="uploadModal" type="button" onclick="browseMedia('ProductImage')">...</a>
                        <a class="btn btn-info" id="addMedia" type="button" onclick="AddMedia()"> + </a>
                    </span>
                    <script>
                        var mediaIndex = 1;
                        function AddMedia() {
                            if (mediaIndex <= 5) {
                            $("#productMedias").append($("#productMediasHidden").html().replace("dummy","Media[]").replace("{0}",mediaIndex).replace("{0}",mediaIndex).replace("{0}",mediaIndex).replace("{0}",mediaIndex).replace("{0}",mediaIndex));
                            mediaIndex++;
                            } else {
                                alert("En fazla 5 adet resim ekleyebilirsiniz.");
                            }
                        }
                    </script>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.ProductImage, "", new { @class = "text-danger" })
        </div>
        <div id="productMediasHidden" style="display:none">
            <div class="form-group">
                <label for="Media{0}" class="col-md-2 control-label">Resim {0}</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input name="dummy" id="Media{0}" class="form-control" />
                        <span class="input-group-btn">
                            <a class="btn btn-info" id="uploadModal{0}" type="button" onclick="browseMedia('Media{0}')">...</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="productMedias">
            @{var index = 0;}
            @foreach (var item in Model.ProductMedias) {
                index++;
            <div class="form-group">
                <label for="Media@(index)" class="col-md-2 control-label">Resim @index</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input name="Media[]" id="Media@(index)" class="form-control" value="@item.MediaUrl" />
                        <span class="input-group-btn">
                            <a class="btn btn-info" id="uploadModal@(index)" type="button" onclick="browseMedia('Media@(index)')">...</a>
                        </span>
                    </div>
                </div>
            </div>
            }
        </div>
      
        <div class="form-group">
            <label asp-for="CatalogVisibility" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CatalogVisibility" class="form-control"  asp-items="@Html.GetEnumSelectList(typeof(CatalogVisibility))"></select>
                <span asp-validation-for="CatalogVisibility" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsFeatured" />
                    <label asp-for="IsFeatured"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsNew" />
                    <label asp-for="IsNew"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsApproved" />
                    <label asp-for="IsApproved"></label>
                </div>
            </div>
        </div>
        <fieldset>
            <legend>Ürün Verisi</legend>
            <div class="form-group">
            <label asp-for="ProductType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ProductType" class="form-control"  asp-items="@Html.GetEnumSelectList(typeof(ProductType))"></select>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
        </div>
        
        <style>
            .nav-pills li {background-color:whitesmoke;}
        </style>
        <div class="form-group">
            <div class="col-md-12">
<div class="row" style="border:1px solid lightgray">
    
<ul class="nav nav-pills nav-stacked col-md-2">
  <li role="presentation" class="active"><a href="#General" data-toggle="tab">Genel</a></li>
  <li role="presentation"><a href="#Inventory" data-toggle="tab">Envanter</a></li>
  <li role="presentation"><a href="#Shipping" data-toggle="tab">Kargo</a></li>
  <li role="presentation"><a href="#Attributes" data-toggle="tab">Özellikler</a></li>
</ul>
  
    <div class="col-md-10">
        <div class="tab-content">
        <div class="tab-pane fade" id="General">
            <fieldset>
                <legend>Genel</legend>
            
            <div class="form-group">
            <label asp-for="StockCode" class="col-md-12"></label>
            <div class="col-md-12">
                <input asp-for="StockCode" class="form-control" />
                <span asp-validation-for="StockCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UnitPrice" class="col-md-12"></label>
            <div class="col-md-12">
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SalePrice" class="col-md-12"></label>
            <div class="col-md-12">
                <input asp-for="SalePrice" class="form-control" />
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProductUrl" class="col-md-12"></label>
            <div class="col-md-12">
                <input asp-for="ProductUrl" class="form-control" />
                <span asp-validation-for="ProductUrl" class="text-danger"></span>
            </div>
        </div>
        </fieldset>
        </div>
        <div class="tab-pane fade" id="Inventory">
            <fieldset>
                <legend>Envanter</legend>
            <div class="form-group">
            <label asp-for="StockStatus" class="col-md-12"></label>
            <div class="col-md-12">
                <input asp-for="StockStatus" />
            </div>
        </div>
            <div class="form-group">
            <label asp-for="StockCount" class="col-md-12"></label>
            <div class="col-md-12">
                <input asp-for="StockCount" class="form-control" />
                <span asp-validation-for="StockCount" class="text-danger"></span>
            </div>
        </div>
        </fieldset>
        </div>
        <div class="tab-pane fade" id="Shipping">
            <fieldset>
                <legend>Kargo</legend>
           <div class="form-group">
                    <label asp-for="ShippingMethod" class="col-md-12"></label>
                    <div class="col-md-12">
                      <select asp-for="ShippingMethod" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(ShippingMethod))">
                          <option value="">Kargo yöntemi seçiniz</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingCityId" class="col-md-12"></label>
                    <div class="col-md-12">
                      <select asp-for="ShippingCityId" class="form-control" asp-items="@ViewBag.ShippingCities">
                          <option value="">Nereden kargolanacağını seçiniz</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingZoneId" class="col-md-12"></label>
                    <div class="col-md-12">
                      <select asp-for="ShippingZoneId" class="form-control" asp-items="@ViewBag.ShippingZones">
                          <option value="">Kargo hedefini seçiniz</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ShippingClassId" class="col-md-12"></label>
                    <div class="col-md-12">
                      <select asp-for="ShippingClassId" class="form-control" asp-items="@ViewBag.ShippingClasses">
                          <option value="">Kargo firmasını seçiniz</option>
                      </select>
                    </div>
                </div>
                @{var zIndex = 0;}
                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ShippingZones)
                    {
                    zIndex++;
                <div class="form-group">
                    <label for="ShippingPrice@(zIndex)" class="col-md-3">
                        @(item.Text) Fiyatı (₺):
                    </label>
                    <div class="col-md-9">
                        <input name="ShippingPrice[]" id="ShippingPrice@(zIndex)" type="number" class="form-control" value="@(Model.ShippingPrices.FirstOrDefault(f=>f.ShippingZoneId.ToString()==item.Value)?.Price)"/>
                    </div>
                </div>
                }
        </fieldset>
        </div>
        
        <div class="tab-pane fade" id="Attributes">
            <fieldset>
                <legend>Özellikler</legend>
                <div class="form-group">
                    <div class="input-group col-md-4">
                      <select id="AttributeId" name="AttributeId" class="form-control" asp-items="@ViewBag.Attributes">
                        <option value="">Özellik Seçiniz</option>
                      </select>
                      <span class="input-group-btn">
                      <button type="button" class="btn btn-primary" onclick="LoadAttributeItems()">Ekle</button>
                      </span>
                    </div>
              
                </div>
                <div id="attributeItems">
                    @foreach (var attr in ViewBag.AttributesList)
                    {
               if (Model.ProductAttributeItems != null && Model.ProductAttributeItems.Where(a=>a.AttributeItem.AttributeId==attr.Id).Any()) {
                    <div class="form-group">
                    <div class="col-md-2"><label id="attr@(attr.Id)">@attr.Name</label>
                    </div>
                    <div class="col-md-10"><select id="attrItems@(attr.Id)" name="AttributeItemId[]" class="form-control select2-multiple" multiple>
                    @foreach (var item in attr.AttributeItems) {
                    <option value="@item.Id" selected>@item.Name</option>
                    }
                    </select></div></div>
                    }
                
                }
                </div>
                <script>
                    function LoadAttributeItems() {
                        var aId = $("#AttributeId").val();
                        $.post('@Url.Action("GetAttributeItems")', {attributeId:aId}, function (result) {
                            var options = "";
                            $.each(result, function (index, element) {
                                options += '<option value="' + element.id + '">'+ element.name + '</option>';
                            });
                            $("#attributeItems").append('<div class="form-group">' +
                    '<div class="col-md-2"><label id="attr' + aId + '">'+$("#AttributeId :selected").text()+'</label></div>' + 
                    '<div class="col-md-10"><select id="attrItems'+aId+'" name="AttributeItemId[]" class="form-control select2-multiple" multiple>' + 
                    options+'</select></div></div>');
                          $("#attrItems"+aId).select2();
                        });
                    }
                </script>
                </fieldset>
        </div>
        
    </div>
    </div>
</div>
</div>
</div>

 </fieldset>
 <input asp-for="Id" type="hidden" />
        <input asp-for="CreateDate" type="hidden" />
                <input asp-for="CreatedBy" type="hidden" />
                <input asp-for="UpdateDate" type="hidden" />
                <input asp-for="UpdatedBy" type="hidden" />
                <input asp-for="AppTenantId" type="hidden" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@Html.Partial("_BrowseMedia", new ViewDataDictionary(this.ViewData) { { "element", "ProductImage" } })
@Html.Partial("_BrowseMedia", new ViewDataDictionary(this.ViewData) { { "element", "Media1" } })
@Html.Partial("_BrowseMedia", new ViewDataDictionary(this.ViewData) { { "element", "Media2" } })
@Html.Partial("_BrowseMedia", new ViewDataDictionary(this.ViewData) { { "element", "Media3" } })
@Html.Partial("_BrowseMedia", new ViewDataDictionary(this.ViewData) { { "element", "Media4" } })
@Html.Partial("_BrowseMedia", new ViewDataDictionary(this.ViewData) { { "element", "Media5" } })
@section scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/metronic/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/metronic/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <script src="/metronic/global/plugins/jstree/dist/jstree.js"></script>


    <script>
        $(function () {
            $("#uploadModal").click(function () {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "/Media/Create",
                    success: function (view) {
                        $('.modal-body').html(view);
                        $('.modal').modal();
                    },
                    error: function (err) {
                        alert("bilinmeyen bir hata oluştu!" + err);
                    }
                });
            });
        });
    </script>
    <script>
        var handleSample = function () {
            $('#tree').jstree({
                'plugins': ["wholerow", "checkbox"],
                'core': {
                    "themes": {
                        "responsive": false,
                        "icons": false
                    },
                    'data': [

                            @foreach(ProductCategory item in (IEnumerable<ProductCategory>)ViewBag.CategoryList)
                {

                    if(item.ParentCategoryId==null)
                    {
                        <text>
                        {
                            "id": '@item.Id', "parent": "#", "text": "@item.Name", "state": {
                                @foreach (var dist in (IEnumerable<ProductProductCategory>)ViewBag.CheckList)
                                    {
                                        if (item.Id == dist.ProductCategoryId)
                                        {
                                            <text>
                                                selected: true
                                            </text>
                                        }
                                    }
                            }
                        },
                        </text>
                                }
                                else
                                {
                        <text>
                        { "id": '@item.Id', "parent": "@item.ParentCategoryId", "text": "@item.Name","state": {
                                @foreach (var dist in (IEnumerable<ProductProductCategory>)ViewBag.CheckList)
                                    {
                                        if (item.Id == dist.ProductCategoryId)
                                        {
                                            <text>
                                                selected: true
                                            </text>
                                        }
                                    }
                                }
                        },
                        </text>
                    }
                }
                    ]

                }
            });
        }
        handleSample();
    </script>
    <script>
        $(function () {
            // 6 create an instance when the DOM is ready
            $('#tree').jstree();
            // 7 bind to events triggered on the tree
            $('#tree').on("changed.jstree", function (e, data) {
                console.log(data.selected);
                $('#categoriesHidden').val(data.selected);
            });
            // 8 interact with the tree - either way is OK
            $('button').on('click', function () {
                $('#tree').jstree(true).select_node('child_node_1');
                $('#tree').jstree('select_node', 'child_node_1');
                $.jstree.reference('#tree').select_node('child_node_1');
            });
        });
    </script>
}