@model CmsCoreV2.Models.Order

@{
    ViewData["Title"] = "Sipariş Detayları";
}

<h2>Detaylar</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
         Müşteri
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerNote)
        </dd>
        <dt>
            Ödeme Yöntemleri
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentMethod.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppTenantId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppTenantId)
        </dd>
       
     
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

