@model CheckoutViewModel
@inject CustomLocalizer Localizer
@inject AppTenant Tenant
@if (Model?.Cart.CartItems != null)
{<section id="shop-checkout">
	<div class="container">
		<div class="shop-cart">
        <script>
        window.onload = function() {
            LoadOptions($("#BillingCity"), $("#BillingCountry").val(), "/Home/GetCities", "Şehir seçiniz", function() {LoadOptions($("#BillingCounty"),$("#BillingCity").val(),"/Home/GetCounties","İlçe seçiniz", function() {});});
            LoadOptions($("#DeliveryCity"), $("#DeliveryCountry").val(), "/Home/GetCities", "Şehir seçiniz", function() {LoadOptions($("#DeliveryCounty"),$("#DeliveryCity").val(),"/Home/GetCounties","İlçe seçiniz",function() {});});
        }

        function LoadOptions(elm, parentId, url, defaultOption,done) {
            
            elm.empty();
            $.post(url,{parentId:parentId},function(result) {
                    elm.append('<option value="">' + defaultOption + '</option>');
                    $.each(result, function(i, item) {
                        elm.append('<option value="'+item.code+'">'+item.name+'</option>');
                        done();
                    });
            });
           
            
        }
        </script>
            <form method="post" class="sep-top-md" action="/home/checkout">
                <div class="row">
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12">
                            <h4 class="upper">Fatura ve Teslimat Adresi</h4>
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="sr-only">Ülke</label>
                            <select asp-for="BillingCountry" asp-items="@ViewBag.Countries" onchange='LoadOptions($("#BillingCity"), $("#BillingCountry").val(), "/Home/GetCities", "Şehir seçiniz", function() {LoadOptions($("#BillingCounty"),$("#BillingCity").val(),"/Home/GetCounties","İlçe seçiniz",function() {});});'>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Ad</label>
                            <input type="text" class="form-control input-lg" placeholder="Ad" asp-for="BillingFirstName">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Soyad</label>
                            <input type="text" class="form-control input-lg" placeholder="Soyad" asp-for="BillingLastName">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">TC Kimlik No/Vergi No</label>
                            <input type="text" class="form-control input-lg" placeholder="TC Kimlik No/Vergi No" asp-for="BillingIdentityNumber">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Firma Adı</label>
                            <input type="text" class="form-control input-lg" placeholder="Firma Adı" asp-for="BillingCompanyName">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Adres</label>
                            <input type="text" class="form-control input-lg" placeholder="Adres" asp-for="BillingAddress">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Cadde/Sokak</label>
                            <input type="text" class="form-control input-lg" placeholder="Cadde/Sokak" asp-for="BillingStreet">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Şehir</label>
                            <select asp-for="BillingCity" onchange="LoadOptions($('#BillingCounty'),$('#BillingCity').val(),'/Home/GetCounties','İlçe seçiniz',function() {});">
                                <option value="">Şehir seçiniz</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">İlçe</label>
                            <select asp-for="BillingCounty">
                                <option value="">İlçe seçiniz</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Posta Kodu</label>
                            <input type="text" class="form-control input-lg" placeholder="Posta Kodu" asp-for="BillingZipCode">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">E-posta</label>
                            <input type="text" class="form-control input-lg" placeholder="E-posta" asp-for="BillingEmail">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Phone</label>
                            <input type="text" class="form-control input-lg" placeholder="Telefon" asp-for="BillingPhone">
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="panel panel-naked">
                                <div class="panel-heading">
                                    <a href="#collapseThree" data-toggle="collapse" class="collapsed" aria-expanded="false">Yeni hesap yarat <i class="fa fa-arrow-circle-o-down fa-lg"></i></a>
                                </div>
                                <div class="panel-collapse collapse" id="collapseThree" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <p>Aşağıya parolanızı girerek bir hesap oluşturun; eğer zaten bir hesabınız varsa lütfen sayfanın üstünden giriş yapın.</p>
                                        <div class="form-group sep-top-xs">
                                            <label class="sr-only">Parola</label>
                                            <input type="password" class="form-control input-lg" placeholder="Parola" asp-for="Password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="upper"><a href="#collapseFour" data-toggle="collapse" class="collapsed" aria-expanded="false"> Farklı adrese teslimat <small>alanları göstermek için tıklayın</small><i class="fa fa-arrow-circle-o-down"></i></a></h4>
                        <div class="col-md-12 no-padding">

                            <div style="height: 0px;" aria-expanded="false" id="collapseFour" class="panel-collapse row collapse">
                                <div class="panel-body">
                                    <p>Eğer teslimat adresiniz fatura adresinizden farklıysa aşağıdaki alanları doldurunuz.</p>
                                    <div class="sep-top-xs">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <label class="sr-only">Ülke</label>
                                                <select asp-for="DeliveryCountry" asp-items="@ViewBag.Countries" onchange='LoadOptions($("#DeliveryCity"), $("#DeliveryCountry").val(), "/Home/GetCities", "Şehir seçiniz", function() {LoadOptions($("#DeliveryCounty"),$("#DeliveryCity").val(),"/Home/GetCounties","İlçe seçiniz",function() {});});'>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Ad</label>
                                                <input type="text" class="form-control input-lg" placeholder="Ad" asp-for="DeliveryFirstName">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Soyad</label>
                                                <input type="text" class="form-control input-lg" placeholder="Soyad" asp-for="DeliveryLastName">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Firma Adı</label>
                                                <input type="text" class="form-control input-lg" placeholder="Firma Adı" asp-for="DeliveryCompanyName">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Adres</label>
                                                <input type="text" class="form-control input-lg" placeholder="Adres" asp-for="DeliveryAddress">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Cadde/Sokak</label>
                                                <input type="text" class="form-control input-lg" placeholder="Cadde/Sokak" asp-for="DeliveryStreet">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Şehir</label>
                                                <select asp-for="DeliveryCity" onchange="LoadOptions($('#DeliveryCounty'),$('#DeliveryCity').val(),'/Home/GetCounties','İlçe seçiniz',function() {});">
                                                    <option value="">Şehir seçiniz</option>
                                                </select>
                                            </div>
                                            </div>
                                            <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">İlçe</label>
                                                <select asp-for="DeliveryCounty">
                                                    <option value="">İlçe seçiniz</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Posta Kodu</label>
                                                <input type="text" class="form-control input-lg" placeholder="Posta Kodu" asp-for="DeliveryZipCode">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 no-padding">
                            <textarea class="form-control input-lg" placeholder="Siparişiniz hakkında notlarınız, örneğin teslimat için özel notlar" rows="7" asp-for="DeliveryNotes"></textarea>
                        </div>
                    </div>
                </div>





                <div class="seperator">
                    <i class="fa fa-credit-card"></i>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <h4 class="upper">Siparişiniz</h4>
                        <div class="table table-condensed table-striped table-responsive table table-bordered table-responsive">
                            <table class="table m-b-0">
                                <thead>
                                    <tr>

                                        <th class="cart-product-thumbnail">Ürün</th>
                                        <th class="cart-product-name">Açıklama</th>


                                        <th class="cart-product-subtotal">Toplam</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Cart.CartItems)
                        {
                            <tr>


                                <td class="cart-product-thumbnail">

                                    <div class="cart-product-thumbnail-name">@item.Product.Name</div>
                                </td>

                                <td class="cart-product-description">

                                    <p>
                                        @item.Product.ShortDescription<br />
                                        @item.Quantity Adet
                                    </p>
                                </td>





                                <td class="cart-product-subtotal">
                                    <span class="amount">₺@item.TotalPrice</span>
                                </td>
                            </tr>
            }
                                </tbody>

                            </table>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <h4>Sipariş Toplamı</h4>

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart-product-name">
                                            <strong>Sipariş Alttoplamı</strong>
                                        </td>

                                        <td class="cart-product-name text-right">
                                            <span class="amount">₺@(Model.Cart.SubtotalPrice)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart-product-name">
                                            <strong>Kargo</strong>
                                        </td>

                                        <td class="cart-product-name  text-right">
                                            <span class="amount">@(Model.Cart.ShippingPrice == 0 ? "Ücretsiz Kargo" : "₺" + Model.Cart.ShippingPrice)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart-product-name">
                                            <strong>İndirim</strong>
                                        </td>

                                        <td class="cart-product-name  text-right">
                                            <span class="amount">-₺@(Model.Cart.SubtotalPrice)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart-product-name">
                                            <strong>Toplam</strong>
                                        </td>

                                        <td class="cart-product-name text-right">
                                            <span class="amount color lead"><strong>₺@(Model.Cart.TotalPrice)</strong></span>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="upper">Ödeme Yöntemi</h4>

                        <table class="payment-method table table-bordered table-condensed table-responsive">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="paymentMethod" @(Model.PaymentMethod == "Bank"?"checked":"") value="Bank"><b class="dark">Havale/EFT</b>
                                                <br>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="paymentMethod"  @(Model.PaymentMethod == "CC"?"checked":"") value="CC"><b class="dark">Kredi Kartı</b>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="paymentMethod" @(Model.PaymentMethod == "XRP"?"checked":"") value="XRP"><b class="dark">Kripto-para: Ripple (XRP)</b>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-default icon-left float-right">ÖDEME YAP ve ALIŞVERİŞİ TAMAMLA</button>
                    </div>

                </div>

            </form>

		</div>
	</div>
</section>

}