@addTagHelper *, Sakura.AspNetCore.Mvc.PagedList
@model Sakura.AspNetCore.IPagedList<Post>
@inject CustomLocalizer Localizer
@inject AppTenant Tenant
@if (ViewBag.is404 == true)
{
    <div class="row">
        <p>Bu sayfada kayıt bulunamadı.</p>
        </div>
        } else {
        @foreach (var item in Model)
        { <div class="edugate-layout-1">
    @if (string.IsNullOrEmpty(item.SmallPhoto))
    {
        <div class="edugate-image"><img src="@Html.Raw(item.Photo)" alt="" class="img-responsive" /></div>
    }
    else
    {
        <div class="edugate-image"><img src="@Html.Raw(item.SmallPhoto)" alt="" class="img-responsive" /></div>
    }
    <div class="edugate-content">
        <a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/@item.Slug" class="title">@item.Title</a>

        <div class="info">
            <div class="date-time item"><a href="#">@(item.PublishDate.HasValue ? item.PublishDate.Value.ToString("dd.MM.yyyy") : "")</a></div>
        </div>
        <div class="description">
            @Html.Raw(item.Description.PadLeft(120))
        </div>
        <a href="@(Tenant.RequireSSL?"https":"http")://@Tenant.Hostname/@ViewData["culture"]/@item.Slug" class="btn btn-green"><span>Devamını oku...</span></a>
    </div>
</div>



        }
        <div class="row">
            <nav class="pagination col-md-12">
                <ul class="pagination__list">
                    <pager resource='Post' />
                </ul>
            </nav>
        </div>
        }